/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

.card-container {
  text-align: center;
  
  @include large-screen {
    padding: 1.5rem 1rem;
  }

  @include tablet-landscape {
    padding: .3rem .36rem;
  }

  @include tablet-portrait {
    padding: .2rem .25rem;
  }

  @include mobile-landscape {
    padding: .1rem .15rem;
  }
}

.card-container p {
  @include large-screen {

  }

  @include tablet-landscape {
    font-size: .85rem;
  }

  @include tablet-portrait {
    font-size: .63rem;
  }

  @include mobile-landscape {
    font-size: .63rem;
  }
}

.card {
  width: 20%;
  margin-bottom: 1rem;
  @include bordered(20px);

  @include tablet-portrait {
    width: 30%;
  }

  @include mobile-landscape {
    width: 28%;
  }
}

.card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card a {
  @include a-decoration;
}

.code {
  color: #607ec9;
}

.card-container:hover .code {
  color: #ff7f50;
}
