/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */


@mixin flex-center {
  display: flex;
  flex-direction: column;
  margin: $center-margin;
  justify-content: center;
  align-items: center;
}

@mixin navbar-fonts {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@mixin bordered($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin a-decoration {
  text-decoration: none;
  cursor: pointer;
}

@mixin section-img-bordered {
  border-radius: 30px 100px;
}

//responsive queries

@mixin large-screen {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 768px ) and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width:  480px) and (max-width: 768px) {
    @content;
  }
}

@mixin mobile-landscape {
  @media only screen and (min-width: 320px ) and (max-width: 480px) {
    @content;
  }
}

@mixin mobile-portrait {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
