/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid white;
}

.navbar a {
  @include navbar-fonts
}

.navbar h1 {
  font-size: 1.3rem;
}

.nav-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: $navbar-margin;
  gap: $spacing;
  @include navbar-fonts;
}

.nav-header p {
  font-size: 1.5rem;
}

.nav-header img {
  width: 6%;
}

.nav-access {
  display: flex;
  justify-content: right;
  margin-right: $navbar-margin;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: $spacing;
}

.nav-list img {
  width: 1.2rem;
  cursor: pointer;
}