/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */


section {
  height: 100vh;
  @include flex-center;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.welcome-section h2 {
  font-size: 2.7rem;
}

.welcome-section h3 {
  font-size: 2rem;
}

.welcome-section img {
  @include section-img-bordered;
}

.contact-section {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing;
}

.social-icons {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.torre-img {
  width: 3.2rem;
  margin-bottom: .5rem;
  border: 0px solid !important;
  border-radius: 10px !important;
}
