/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */


section {
  height: 100vh;
  @include flex-center;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-section {
  padding: .5rem;
  display: flex;
  flex-direction: row;

  @include large-screen {
    gap: 6rem;
  }

  @include tablet-landscape {
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include tablet-portrait {
    gap: .6rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.welcome-section h2 {

  @include large-screen {
    font-size: 2.7rem;
  }

  @include tablet-landscape {
    font-size: 1.7rem;
  }

  @include tablet-portrait {
    font-size: 1rem
  }
}

.welcome-section h3 {

  @include large-screen {
    font-size: 2rem;
  }

  @include tablet-landscape {
    font-size: 1.4rem;
  }

  @include tablet-portrait {
    font-size: .9rem;
  }
}

.welcome-section img {
  @include section-img-bordered;

  @include large-screen {
    width: 100%;
  }

  @include tablet-landscape {
    width: 90%;
  }

  @include tablet-portrait {
    width: 90%;
  }
}

.contact-section {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $center-margin;

  @include large-screen {
    gap: 6rem;
  }

  @include tablet-landscape {
    gap: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include tablet-portrait {
    gap: .6rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing;
}

.social-icons {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}