/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */


$fonts: 'Ubuntu', sans-serif;
$spacing: 1rem;
$center-margin: 0 auto;
$navbar-margin: 2rem;

$navbar-primary: #bcccdc;
$navbar-secondary: #102a43;

$section-primary-1: #829ab1;
$section-primary-2: #f0f4f8;
$section-secundary-1: #102a43;
$section-secundary-2: #486581;

$text-primary: black;
$text-secundary: #f0f4f8;
