/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');
@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'sections';
@import 'cards';
@import 'footer';

body {
  font-family: $fonts;
  min-height: 100hv;
}

.main-container {
  @include flex-center;
}

.helper-container {
  display: flex;
  width: 100%;

  @include large-screen {
    margin-top: 4.2rem;
  }

}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: $center-margin;

  @include large-screen {
    gap: 2.3rem;
  }
}

.toggler {
  border-radius: 50%;
  position: absolute;
  padding: 0.3rem;
  align-items: center;
  @include a-decoration;

  @include large-screen {
    width: 4%;
    height: 8%;
  }
}

.toggler-floating {
  position: fixed;
  z-index: 100;

  @include large-screen {
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

.toggler-container {
  display: flex;
  flex-direction: row;
  gap: $spacing;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.roadmap-list {
  color: white;
  font-size: 1.2rem;
  justify-self: center;
}

.roadmap-list li {
  margin: .3rem 0;
}

.light {

  section:nth-child(1) {
    background: $section-primary-1;
  }

  section:nth-child(2) {
    background: $section-primary-2;
  }

  section:nth-child(3) {
    background: $section-primary-1;
  }

  section:nth-child(4) {
    background: $section-primary-2;
  }

  section:nth-child(5) {
    background: $section-primary-1;
  }

  .toggler-background {
    color: $text-secundary;
    background-color: $section-secundary-2;
    border: 1px solid $text-secundary;
  }

  .navbar-background {
    background: $navbar-primary;
  }

  .card-colors {
    background-color: #f0f4f8;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .title {
    color: #486581;
  }

  .title:hover {
    color: #ff7f50;
  }

  .welcome-section h1 {
    color: $text-primary;

    @include large-screen {
      font-size: 2.5rem;
    }
  }

  .welcome-section p {
    font-weight: 300;
    color: $text-primary;

    @include large-screen {
      font-size: 1.2rem;
    }
  }

  .contact-section img {
    @include section-img-bordered;
    border: 1px solid $text-primary;
  }

  .social-links a {
    @include a-decoration;
    color: $text-primary;

    @include large-screen {
      font-size: 2rem;
    }
  }

  .social-links a:hover,
  social-links a:active {
    font-size: 250%;
  }

  .section-title {
    color: $text-primary;
  }

  .footer-background {
    background-color: $section-primary-1;
  }

}

.dark {

  section:nth-child(1) {
    background: $section-secundary-1;
  }

  section:nth-child(2) {
    background: $section-secundary-2;
  }

  section:nth-child(3) {
    background: $section-secundary-1;
  }

  section:nth-child(4) {
    background: $section-secundary-2;
  }

  section:nth-child(5) {
    background: $section-secundary-1;
  }

  .toggler-background {
    color: $text-primary;
    padding: 0;
    background-color: $section-primary-2;
    border: 1px solid $text-secundary;

    @include large-screen {
      font-size: 1.3rem;
    }
  }

  .navbar-background {
    background: $navbar-secondary;
  }

  .card-colors {
    background-color: #829ab1;
    box-shadow: 4px 8px 0 rgba(187, 187, 187, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }

  .code {
    color: $text-secundary;
  }

  .title {
    color: $text-secundary;
  }

  .title:hover {
    color: #ff7f50;
  }

  .welcome-section h1 {
    color: $text-secundary;

    @include large-screen {
      font-size: 2.5rem;
    }
  }

  .welcome-section h2 {
    color: $text-secundary;

    @include large-screen {
      font-size: 2.7rem;
    }
  }

  .welcome-section h3 {
    color: $text-secundary;

    @include large-screen {
      font-size: 2rem;
    }
  }

  .welcome-section p {
    font-weight: 300;
    color: $text-secundary;

    @include large-screen {
      font-size: 1.2rem;
    }
  }

  .contact-section img {
    @include section-img-bordered;
    border: 1px solid black;
  }

  .social-links a {
    @include a-decoration;
    color: $text-secundary;

    @include large-screen {
      font-size: 2rem;
    }
  }

  .social-links a:hover,
  social-links a:active {
    font-size: 250%;
  }

  .social-icons {
    margin-bottom: .5rem;
    color: $text-secundary;

    @include large-screen {
      font-size: 2.5rem;
    }
  }

  .section-title {
    color: $text-secundary;
  }

  .footer-background {
    background-color: $section-secundary-1;
  }

}