/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');
@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'sections';
@import 'cards';

body {
  font-family: $fonts;
  min-height: 100hv;
}

.main-container {
  @include flex-center;
}

.helper-container {
  display: flex;
  width: 100%;
  margin-top: 4.2rem;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.3rem;
  justify-content: center;
  margin: $center-margin;
}

.toggler {
  width: 4%;
  border-radius: 25px;
  position: absolute;
  margin-right: 2rem;
  margin-bottom: 4rem;
  padding: 0.3rem;
  color: $text-primary;
  background-color: $text-secundary;
  @include a-decoration;
}

.toggler-container {
  display: flex;
  flex-direction: row;
  gap: $spacing;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.light {

  section:nth-child(1) {
    background: $section-primary-1;
  }

  section:nth-child(2) {
    background: $section-primary-2;
  }

  section:nth-child(3) {
    background: $section-primary-1;
  }

  section:nth-child(4) {
    background: $section-primary-2;
  }

  .navbar-background {
    background: $navbar-primary;
  }

  .card-colors {
    background-color: #f0f4f8;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .title {
    color: #486581;
  }

  .title:hover {
    color: #ff7f50;
  }

  .welcome-section h1 {
    font-size: 2.5rem;
    color: $text-primary;
  }

  .welcome-section p {
    font-size: 1.2rem;
    font-weight: 300;
    color: $text-primary;
  }

  .contact-section img {
    @include section-img-bordered;
    border: 1px solid $text-primary;
  }

  .social-links a {
    @include a-decoration;
    font-size: 2rem;
    color: $text-primary;
  }

  .social-links a:hover,
  social-links a:active {
    font-size: 250%;
  }

  .section-title {
    color: $text-primary;
  }

}

.dark {

  section:nth-child(1) {
    background: $section-secundary-1;
  }

  section:nth-child(2) {
    background: $section-secundary-2;
  }

  section:nth-child(3) {
    background: $section-secundary-1;
  }

  section:nth-child(4) {
    background: $section-secundary-2;
  }

  .navbar-background {
    background: $navbar-secondary;
  }

  .card-colors {
    background-color: #829ab1;
    box-shadow: 4px 8px 0 rgba(187, 187, 187, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }

  .code {
    color: $text-secundary;
  }

  .title {
    color: $text-secundary;
  }

  .title:hover {
    color: #ff7f50;
  }

  .welcome-section h1 {
    font-size: 2.5rem;
    color: $text-secundary;
  }

  .welcome-section h2 {
    font-size: 2.7rem;
    color: $text-secundary
  }

  .welcome-section h3 {
    font-size: 2rem;
    color: $text-secundary;
  }

  .welcome-section p {
    font-size: 1.2rem;
    font-weight: 300;
    color: $text-secundary;
  }

  .contact-section img {
    @include section-img-bordered;
    border: 1px solid black;
  }

  .social-links a {
    @include a-decoration;
    font-size: 2rem;
    color: $text-secundary;
  }

  .social-links a:hover,
  social-links a:active {
    font-size: 250%;
  }

  .social-icons {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: $text-secundary;
  }

  .section-title {
    color: $text-secundary;
  }

}